# ferramentas
.venv/
__pycache__/
*.pyc
.pytest_cache/

# AES
.aes/
aes/

# WP / build
wp-content/
*.zip
build/
dist/

# segredos
.env
*.key
*.pem

# cache do proxy
proxy/cache_store/
proxy/*.idx
proxy/*.db
proxy/cache/
proxy/index/

# logs
*.log